.popup-form {
  width: 50%;
  height: 65vh;
  position: fixed;
  background-color: rgba(136, 136, 136, 0.9);
  top: 18%;
  left: 30%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-form button {
  background-color: #1976d2;
  width: 300px;
  border-radius: 15px;
  border: none;
  margin: 1%;
  padding: 0.5% 1%;
  font-size: 25px;
}

.popup-form__container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 2%;
}

.popup-form__container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  color: #1976d2;
  font-weight: 900;
}

.popup-form__container input,
.popup-form__container select {
  background-color: white;
  border-radius: 15px;
  width: 600px;
  padding: 1%;
  display: flex;
  justify-content: center;
  outline: #1976d2;
  border: 2px solid #1976d2;
}

.popup-form__close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
